body{
	margin: 0;
	text-align: center;
	font-family: 'Public Sans', sans-serif;
	background-color: #d8e3e7;
}

h1{
	margin-top: 0;
	font-family: 'Bangers', cursive;
}

h2{
	font-family: 'Montserrat', cursive;
}

h3{
	font-family: 'Montserrat', cursive;
}

.top {
	background-color: #d8e3e7;
	position: relative;
	padding-top: 100px;
}

.middle {
	
}

.bottom {
	
}

.idiot{
	font-weight: bold;
}

.good{
	text-decoration: underline;
}

.bottom-cloud {
	position: absolute;
	left: 600px;
	bottom: 300px;
}

.top-cloud {
	position: absolute;
	right: 600px;
	top: 50px;
}

.propic{
	border-radius: 100%;
}

.Skill1{
	border-radius: 100%;
}